*{
    margin: 0px;
    padding: 0px;
}
.cover{
    text-align: center;
    background-image: url(img/wp.webp);
    height: 100vh;
    width: 100%;
} 
.top-heading{
    font-size: 100px;
    padding-top: 300px;
    padding-left: 250px;
    padding-right: 250px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}   
.tag-line{
    padding-top: 20px;
    padding-left: 400px;
    padding-right: 400px;
    margin-bottom: 20px ;
    color: rgba(255, 255, 255, 0.795);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.button-1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    background-color: tomato;
    color: white;
}
.donate-today{
    display: inline;
}
.donate-today h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}
.donate-today p{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 20px 400px;
    color: rgba(128, 128, 128, 0.781);
}
.parents-box{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
.child-box {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    font-size: 30px;
    font-weight:bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 250, 252);
    list-style: none;
    padding: 50px;
    margin: 5px;

}
#select{
    background-color: rgb(250, 234, 228);
    border: 2px  solid tomato;
    color: tomato;

}
donate{
    margin: auto;

}
.button-2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
} 
.button{
    font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        padding: 20px 50px;
        background-color: tomato;
        color: white;
}
.other-amount{
    border-bottom:1px solid rgba(128, 128, 128, 0.164);
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;    
}
.donate-plan-box{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.food{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    border: none;
    height: 500px;
    width: 500px;
    border-radius: 5px;
    background-color: rgb(213, 234, 241);
    padding: 30px;
    margin: 15px;
    
}
.food-icon{
    margin-top: 100px;
    margin-bottom: 20px;
}
.food-heading{
    font-size: 28px;
}
.shelter{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    border: none;
    height: 500px;
    width: 500px;
    border-radius: 5px;
    background-color: rgb(248, 218, 222);
    padding: 30px;
    margin: 15px;
}
.shelter-icon{
    margin-top: 100px;
    margin-bottom: 20px;
}
.shelter-heading {
    font-size: 28px;
}
.education{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    border: none;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: rgb(252, 234, 208);
    padding: 30px;
    margin: 15px;
}
.education-icon {
    margin-top: 100px;
    margin-bottom: 20px;
}
.education-heading {
    font-size: 28px;
}
.donate-plan h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 60px;
    
}
.donate2 p{
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    text-align: center;
    
    color: rgba(128, 128, 128, 0.781);
}
.why-donate{
    display: flex;
    margin: 100px;
    justify-content: center;
    
}
.why-donate-left{
    border:none;
    height: 500px;
    width: 800px;
    margin-right: 40px;
}
.why-donate-left h1{
    font-family: 'Open Sans', sans-serif;
        font-size: 20px;
}
.why-donate-left p{
    font-family: 'Open Sans', sans-serif;

}
.they-need-us{
    display: flex;
    margin: 40px;
    justify-content: center;
}
.survive h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-left: 40px;

}
.survive p{
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    text-align: left;
}
.pic{
    height: 500px;
    width: 700px;
    

    
}
.pic-2{
    height: 500px;
        width: 700px;
}
.updates{
    margin-top: 40px;
    
}
.updates-top{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
}
.updates h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}
.updates p{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 20px 400px;
    color: rgba(128, 128, 128, 0.781);
}
.contact-us{
    height: 20px;
    display: flex;
    margin: 80px;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 80px;
    background-color: antiquewhite;
}
input{
    flex-basis: 20%;
    border: none;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    background-color: lightgrey;
}
.button-subscribe{
    flex-basis: 8%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;;
    padding: 20px;
    background-color: tomato;
    color: white;
    }
footer {
    border:none;
    background-color: black;
    text-align: center;
    padding:40px;
}
footer h2{
    font-family: 'Lobster', cursive;
    color: red;
    font-size: 40px;
}
footer p{
    font-family: 'Open Sans', sans-serif;
    color:rgba(211, 211, 211, 0.589);
    font-size: 15px;
}
