h1, p{
    
    font-family: 'Open Sans', sans-serif;
}
.button{
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: rgb(253, 115, 90);
    color: white;
}
.donate-plan-box{
    display: flex;
    margin-right: 100px;
    margin-left: 100px;

}
.food{
    border: none;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: rgb(213, 234, 241);
    padding: 10px;
    margin: 10px;

}
.shelter{
    border: none;
    width: 500px;
    background-color: rgb(248, 218, 222);
    padding: 10px;
    margin: 10px;
}
.education{
    border: none;
    width: 500px;
    height: 500px;
    background-color: rgb(252, 234, 208);
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: black;
    text-align: center;
    

}
footer h2 {
    color: red;   
}
footer p{
    color: white;
}